$bp-01: 1024px;

.header {
  height: 80px;
  max-width: 1024px;
  width: 100%;
  margin: auto;

  &__logo {
    font-size: var(--font-size-3);
    color: #fff;
  }

  @media (max-width: $bp-01) {
    width: 100%;
    margin: 16px;
  }
}
